{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

<h1>About the Backlog Tracker</h1>
<hr />
<p class="page-content">
  A simple and fun tracker to finish those pesky backlogged games. Created by Jonathan Cabrera.
</p>
<ul>
  <li><a href="https://github.com/tgunnr" target="_blank">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/jonathan-cabrera-474121311/" target="_blank">LinkedIn</a></li> 
</ul>

{% endblock %}
