{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/games/game-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="game-container">
  <div class="game-img">
    <img 
      src="{% static 'images/' %}{{ game.genre }}.png" 
      alt="{{ game.get_genre_display }} image"
    >
  </div>
  <div class="game-details">
    <h1>{{ game.name }}</h1>
    <p>{{ game.platform }}</p>
    <p>{{ game.get_genre_display }}</p>
    <p>{{ game.get_status_display }}</p>
    <div class="game-actions">
      <a href="{% url "game-update" game.id %}" class='btn edit'>Edit</a>
      <a href="{% url "game-delete" game.id %}" class='btn danger'>Delete</a>
    </div>
  </div>
</section>


{% endblock %}